# Initial Configuration
node-name: {{ ansible_fqdn }}
server: https://{{ master_api_fqdn }}:9345
token: "{{ token }}"
{% if node_labels is defined %}
node-label:
{% for label in node_labels %}
- {{ label }}
{% endfor %}
{% endif %}
{% if node_taints is defined %}
node-taint:
{% for taint in node_taints %}
- {{ taint }}
{% endfor %}
{% endif %}
resolv-conf: /etc/resolv.conf
kubelet-arg:
{% for kubelet_arg in kubelet_args %}
- "{{ kubelet_arg }}"
{% endfor %}
{% if kubelet_extra_args is defined %}
{% for kubelet_extra_arg in kubelet_extra_args %}
- "{{ kubelet_extra_arg }}"
{% endfor %}
{% endif %}
{% if disconnected|bool %}
system-default-registry: "{{ registries[0]['endpoint'] }}"
{% endif %}
